{
    "Parameters": {
        "API_KEY": "",
        "HOST": "https://search-lobby-opensearch-us-fijoodxy63u5fhw2xpasfmddo4.us-east-1.es.amazonaws.com/",
        "OS_USER": "",
        "OS_PASS": "",
        "REGION": "US",
        "CONTENTFUL_SPACE_LOCALE": "en-US",
        "CONTENTFUL_ACCESS_TOKEN": "",
        "CONTENTFUL_ENVIRONMENT": "dev",
        "SPACE_ID": "6hs6aj69c5cq",
        "CONTENTFUL_SIGNING_SECRET": "",
        "EXECUTION_ENVIRONMENT": "staging"
    }
}
