{
    "Parameters": {
        "API_KEY": "",
        "HOST": "https://search-lobby-opensearch-nsv4wbtlhyi5rtkzy62lf6s7su.eu-west-1.es.amazonaws.com/",
        "OS_USER": "",
        "OS_PASS": "",
        "REGION": "EU",
        "CONTENTFUL_SPACE_LOCALE": "en-GB",
        "CONTENTFUL_ACCESS_TOKEN": "",
        "CONTENTFUL_ENVIRONMENT": "dev",
        "SPACE_ID": "nw2595tc1jdx",
        "CONTENTFUL_SIGNING_SECRET": "",
        "EXECUTION_ENVIRONMENT": "staging"
    },
    "GetGameShuffleFunction": {
        "USE_PARALLEL_SITE_GAME_LOOKUP": "true"
     },
    "PostCloudWatchControllerFunction": {
        "BREAKER_OPEN_HOLD_MS": "60000",
        "BREAKER_HALF_OPEN_MAX_MS": "120000",
        "BREAKER_HEALTHY_OK_EVENTS_TO_CLOSE": "2",
        "BREAKER_EVENT_HISTORY_TTL_SEC": "1209600",
        "BREAKER_STATE_HISTORY_TTL_SEC": "2592000",
        "BREAKER_STALE_EVENT_MS": "600000"
    }
}
