{
    "Parameters": {
        "API_KEY": "",
        "HOST": "https://search-lobby-opensearch-nsv4wbtlhyi5rtkzy62lf6s7su.eu-west-1.es.amazonaws.com/",
        "OS_USER": "",
        "OS_PASS": "",
        "REGION": "EU",
        "CONTENTFUL_SPACE_LOCALE": "en-GB",
        "CONTENTFUL_ACCESS_TOKEN": "",
        "CONTENTFUL_ENVIRONMENT": "dev",
        "SPACE_ID": "nw2595tc1jdx",
        "CONTENTFUL_SIGNING_SECRET": "",
        "EXECUTION_ENVIRONMENT": "staging"
    }
}
